[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pygame = "*"
board = "*"
adafruit-blinka = "*"
adafruit-circuitpython-lsm9ds1 = "*"
wxPython = "*"

[requires]
python_version = "3.8"
